body {
  margin: 0px;
}

.main-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100vh;
}

.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color: beige;
  gap: 15px;

  .login-form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .email-block-errors,
    .password-block-errors {
      display: flex;
      justify-content: start;
      flex-direction: column;

      .email-block,
      .password-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;

        input {
          padding: 5px;
        }
      }

      .error-placeholder {
        color: red;
        margin: 0px;
        min-height: 1.2rem;
      }
    }




    .login-btn {
      padding: 10px;
    }

    .register-link {
      margin: 0px;
    }
  }
}